*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */
.container{
    width: 70%;
}

.auto{
    margin: auto;
}

.flex{
    display: flex;
}

.f-between{
    justify-content: space-between;
}

.t-white{
    color: white;
}


/* body content */
/* header */
header{
    position: fixed;
    background-color: #FF6900;
    height: 6vh;
    width: 100%;
    align-items: center;
    box-shadow: 0px 6px 11px #888888;
    z-index: 2;
}

header a{
    padding: 0 1em;
}

nav{
    align-items: center;
}

#logo{
    height: 4vh;
}

/* main */

#market{
    padding: 10vh 0 3vh 0;
    flex-wrap: wrap;
}

.market-item{
    flex-basis: 30%;
    padding: 2.5vh 0;
}

.market-item img{
    width: 100%;
}

.market-item p{
    color: red;
}

del{
    color: black;
}

.preview{
    display: inline-block;
}

.show{
    display: none;
}

.item-container{
    position: relative;
}

.item-container:hover .preview{
    display: none;
}

.item-container:hover .show{
    display: inline-block;
}

.heart, .item-info{
    position: absolute;
}

.heart{
    top: 20px;
    right: 0;
}

.item-info{
    bottom: 20px;
    left: 0;
}

.sales{
    background-color: #FF0000;
}

.eco{
    background-color: #008000;
}

/* footer */
footer{
    background-color: #1A1A1A;
    padding: 3vh 0;
    border-bottom: 1px solid white;
    line-height: 2em;
}
